.calendar-widget {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-calendar {
  width: 100%;
  max-width: 300px;
  background: white;
  border: none !important;
  border-radius: 8px;
  color: #000000;
  font-weight: 500;
}

.react-calendar__tile {
  color: #000000;
  font-weight: 500;
  font-size: 1.1rem;
}

.react-calendar__month-view__weekdays {
  color: #1a1a1a;
  font-weight: bold;
  font-size: 1.1rem;
}

.react-calendar__navigation button {
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}